.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}


.deaths {
    border-bottom: 10px solid rgba(247, 96, 126, 0.938);
    text-align: justify;
}

.confirmed {
    border-bottom: 10px solid rgb(137, 199, 247);
}

.recovered {
    border-bottom: 10px solid rgb(134, 255, 178);
}

.card {
    margin: 0 2% !important;
}

@media only screen and (max-width: 720px) {
    .card {
        margin: 2% 0 !important;
    }
}