.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.content {
  text-align: center;
  padding-bottom: 5px;
}

.description {
  text-align: center;
}

.deaths {
  border-bottom: 10px solid rgb(169, 176, 184);
  text-align: justify;
}

.confirmed {
  border-bottom: 10px solid rgb(255, 148, 144);
}

.recovered {
  border-bottom: 10px solid rgb(164, 245, 189);
}

.card {
  margin: 0 2% !important;
}

@media only screen and (max-width: 720px) {
  .card {
    margin: 4% 0 !important;
  }
}
